{% extends "layouts/base.html" %}

{% block title %}Confirm Password Reset - {{ block.super }}{% endblock %}

{% block content %}
{% if validlink %}
    <h1>Confirm Password Reset</h1>
    <p>Please enter new password twice</p>
    <form role="form" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form> 
{% else %}
    <h1>Password reset unsuccessful</h1>   
    <p>The password link was invalid. Please request a new password reset</p> 
{% endif %}         
{% endblock %}