{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Marius Wallin{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    {% block header %}{% endblock %}
</head>
<body>
<header>
    <h1>Hello Web App</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'browse' %}">Contact</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">Log In</a></li>
                <li><a href="{% url 'registration_register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

<script type="text/javascript" src="{% static "js/script.js" %}"></script>
</body>
</html>